/vendor/
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Laravel
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
Homestead.json
Homestead.yaml
storage/*.key
storage/pail

# Public paths
/public/build
/public/hot
/public/storage
/public/fonts-manifest.dev.json

# OS/IDE
.DS_Store
Thumbs.db
/.idea
/.vscode
/.nova
/.zed
/.cursor/
/.codex
.phpactor.json
/auth.json

# Coverage
/coverage
/.phpunit.cache/
/.php-cs-fixer.cache
